

* {
    font-family: sans-serif;
}

html {
    background-image: linear-gradient(rgba(0, 0, 5, 0.4), rgba(0, 0, 5, 0.4)), url(../images/bg.jpg);
    background-size: auto;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding: 0 0 0 0;
    margin: 0 auto;
}

.container {
    background-color: #fc6c53;
    padding-top: 0;
    margin: 0,0;
    border: 3px solid rgb(255, 255, 255);
    border-left: none;
    border-right: none;

}

.container ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.container ul li a {
    background-color: #fc6c53;
    border: 16px solid #fc6c53;
}

.container ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

/* ICON */
.toolbar {
    background-color: none;
    border: none;
    position: absolute; /* Bind the toolbar to the left */
    top: 5px; /* Align to the top of the page */
    left: 4px; /* Align to the left of the page */
}

.toolbar ul {
    list-style-type: none;
}
/* HOVER   */

.container ul li a:hover {
    background-color: #ff4727;
    border-color: #ff4727;
}

.container ul li a.active {
    background-color: #ff4727;
    border-color: #ff4727;
}


/* LEFT NAVBAR */

.leftnav {
    margin: 0;
    padding: 0;;


}

.leftnav ul {

    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;


    border: 3px solid white;
    max-width: 200px;
    min-width: 200px;

    list-style-type: none;
    text-align: center;
    padding: 0 0 0 0;

}

.leftnav ul li {

    padding: 1em 0em;
    max-width: 300px;
}


.leftnav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;

}

.leftnav ul li a:hover {
    background-color: #389fff;
    border-color: #389fff;
    transition: 0.5s ease;
}


main .welcomeText h2 {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}




/* FEATURED PROJECTS */







/* COLLEGE PROJECTS PAGE */

.projects {
    text-align: center;
    gap: 1em;
    margin: 0 auto;
    padding: 0 0 0 0;
}

.projects ul {
    list-style-type: none;
    padding: 1em 0em;
}

.projects ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.projects p {
    color: white;
}

.projects a:hover {
    background-color: #389fff;
    border-color: #389fff;

    transform: scale(50%);
    transition: 0.5s ease;
}






/* MOBILE VIEW */
@media screen and (max-width: 768px) {

    .featured {
        flex-direction: column;
        align-items: center;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

    }
    .welcomeText h2 {
        margin: 0 auto;
        text-align: center;
        
    }
}


footer {
    padding: 1em 0em;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}